<!DOCTYPE html>
<html>
  <head>
    <title>Biodata</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>BIODATA</h1>
    <p>Nama: Catur Agus Baktiar</p>
    <p>Nomor Telepon: 08xxxxxxxx53</p>
    <p>Agama: Islam</p>
    <p>Jenis Kelamin: Laki-Laki</p>
    <p>Email: caturbaktiar@gmail.com</p>
    <p>Alamat: Jl. Cakung Timur Jakarta</p>
    <h2>Pendidikan</h2>
    <ul>
      <li>SMA Negeri 115 Jakarta</li>
      <li>Universitas Muhammadiyah Jakarta</li>
    </ul>
    <h2>Hobby</h2>
    <ul>
      <li>Berenang</li>
      <li>Travelling</li>
    </ul>
    <h2>Keahlian</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
  </body>
</html>
